/* body */
.containerbody{
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    color: #ffffff;
}
/* forms */
.tablafc{
    display: flex;
    justify-content: space-around;
    
}
.formsumares{
    width: 17%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.formsumares input{
    width: 60px;
}



/* modal */
.title{
    padding: 10px;
    text-align: center;
    background-color: #000000;
}

.themodal{
    border: none;
    display: flex;
    flex-direction: column;
    background-color: #241e1e;
    color: #ffffff;
    border-radius: 10px;
}

.titulomodal{
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 10px;

}	

.celdas{
    width: 80px;
}

.footer-modal{
    display: flex;
    justify-content: end;
    padding: 10px;
    gap: 10px;
}

.test{
    color: #ffffff;
}